:host {
  display: block;
}

:host paper-shadow {
  margin-right: 8px;
  margin-bottom: 8px;
  float: left;
  padding: 5px;
}

:host input {
  height: 26px;
}

.values > div {
  display: inline-block;
  padding: 5px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  color: #ccc;
}
.values > div[selected="true"] {
  color: black;
  border: 1px solid black;
}

typeahead-input {
  font: inherit;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: 0;
  outline: none;
}
